.class-body{
    padding-top: 15%;
    padding-left: 4%;
    margin: 0;
}
.add-button{
    text-align: center;
  
}
.align-button{
    float: right;
    margin-right: 20px;
}
.thead-color{
    background-color: #6e76e7;
    color: white !important;
}

.product-table{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 780px) {
    .align-button{
        margin-left: 0%;
    }
}
