<div class="row class-body">
    <div class="col-12" style="margin-bottom: 10px">
        <alert></alert>
    </div>
    <div class="col-6">
        <form>
            <div class="row" style="padding-right: 0;padding-left: 0;">
                <div class="col-md-12" style="text-align: center;padding-left: 0;">
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                            </div>
                            <input class="form-control form-control-alternative" placeholder="Search Category By Name"
                                   type="text">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-6 add-button" >
        <button type="button" class="btn btn-primary align-button" data-toggle="modal" data-target="#ModalLoginForm">Add
            New Category
        </button>
    </div>
</div>
<div class="row"  style="margin: 2%;">
    <div class="col-12 product-table" style="padding-left: 0;padding-right: 0;">
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-dark">
                <tr>
                 <th scope="col">Category Name</th>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Status</th>
                    <th scope="col">Edit</th>
                </tr>
                </thead>
                <tbody *ngFor="let categories of categoryList  | paginate: config">
                <tr>
                  <td>
                        <div class="media-body">
                            <span class="mb-0 text-sm">{{categories.name}}</span>
                        </div>
                    </td>
                    <td>
                        <span class="badge badge-dot mr-4">
                            <a href="#" class="avatar rounded-circle mr-3">
                                <img alt="Image placeholder" src="{{categories.thumbnail}}">
                              </a>
                        </span>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            {{categories.categoryStatus}}
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" data-toggle="modal"
                                [attr.data-target]="'#ModalEditProduct'+ categories.id" >Edit
                        </button>
                    </td>
                </tr>
                <div id="ModalEditProduct{{categories.id}}" class="modal fade">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title">Edit Category</h1>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                            </div>
                            <div class="modal-body">
                                <form role="form">
                                    <div class="form-group">
                                        <label class="control-label">Category Name</label>
                                        <div>
                                            <input type="text" class="form-control input-lg" name="product Name"
                                                   value="{{categories.name}}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Thumbnail</label>
                                        <div>
                                            <input type="file"   class="form-control-file">

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Status</label>
                                        <div>
                                            <select class="browser-default custom-select" value="{{categories.categoryStatus}}">
                                                <option selected>Open this select menu</option>
                                                <option value="ACTIVE">Activate</option>
                                                <option value="INACTIVE">Inactivate</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="button-set">
                                            <button type="button" class="btn btn-primary">Update</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                </tbody>
                <div class="products-pagination">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
<!--                    <pagination-controls (pageChange)="this.config.currentPage = $event"></pagination-controls>-->
                </div>

                <!-- Modal HTML Markup  for edit category-->
            </table>
        </div>
    </div>
<!--    <div class="card-footer pb-0 pt-3">-->
<!-- <jw-pagination [items]="category" (changePage)="onChangePage($event)"></jw-pagination>-->
<!--    </div>-->

</div>


<!-- Modal HTML Markup -->
<div id="ModalLoginForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Add Category</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label class="control-label">Category Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" [(ngModel)]="addCategoryName" name="category_ame" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Thumbnail</label>
                        <div>
                            <input type="file" (change)="fileChangeEvent($event)" class="form-control-file">
                        </div>
                        {{imageError}}
                    </div>
                   <div class="form-group">
                        <div>
                            <button type="button" (click)="_createCategory()" class="btn btn-success">
                                Add Category
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

