<div class="row class-body">
    <div class="col-6">
        <form>
            <div class="row">
                <div class="col-md-12" style="text-align: center;padding-left: 0">
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                            </div>
                            <input class="form-control form-control-alternative" placeholder="Search Order By Date"
                                   type="text">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-6 add-button">
<!--        <button type="button" class="btn btn-primary align-button" data-toggle="modal" data-target="#Modaladdorderform">-->
<!--            Add New Order-->
<!--        </button>-->
    </div>
</div>
<div class="row"  style="margin: 2%;">
    <div class="col-12 product-table" style="padding-left: 0;padding-right: 0;">
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">OrderId</th>
                    <th scope="col">Message</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total</th>
                    <th scope="col">View Order Detail</th>
                    <th scope="col">Update Order Status</th>
                    <th scope="col">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let order of orders">
                    <th scope="row">
                        {{order['id']}}
                    </th>

                    <td>
                        {{order['message'] != null ? order['message'] : "No Message" }}
                    </td>

                    <td>
                        <div *ngIf="order['fkUser']!= null">{{order['fkUser']['firstName'] + ' ' + order['fkUser']['lastName']}}</div>

                    </td>
                    <td>
                        <div *ngIf="order['fkUser']!=null"> {{order['fkUser']['email']}}</div>
                    </td>

                    <td>
                        {{order['status']}}
                    </td>
                    <td>
                        {{order['total'] | currency:'LKR'}}
                    </td>

                    <td>
                        <button type="button" class="btn btn-default" (click)="open(content,order['fkOrder'])">
                            View Order Details
                        </button>
                    </td>

                    <td>
                        <button type="button" class="btn btn-primary"
                                (click)="openChangeOrderStatusModel(updateOrderStatusModel,order)">
                            Update Order Status
                        </button>
                    </td>

                    <td>
                        <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#ModalEditorder">Edit
                        </button>
                    </td>
                </tr>
                </tbody>


                <!-- Modal HTML Markup  for edit category-->
                <div id="ModalEditorder" class="modal fade">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title">Edit Order</h1>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                            </div>
                            <div class="modal-body">
                                <form role="form">
                                   <div class="form-group">
                                        <label class="control-label">Order Date</label>
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                            </div>
                                            <input class="form-control datepicker" placeholder="Select date" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" type="text"/>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Bill To Name</label>
                                        <div>
                                            <input type="text" class="form-control input-lg" name="bill to name"
                                                   value="">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Status</label>
                                        <div>
                                            <select class="browser-default custom-select">
                                                <option selected>Open this select menu</option>
                                                <option value="1">Active</option>
                                                <option value="2">Inactive</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Message</label>
                                        <div>
                                            <textarea class="form-control" id="exampleFormControlTextarea1"
                                                      rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Grand Total</label>
                                        <div>
                                            <input type="text" class="form-control input-lg" name="grand total"
                                                   value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="button-set">
                                            <button type="button" class="btn btn-primary">Update</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </table>
        </div>
    </div>
<!--    <div class="card-footer pb-0 pt-3">-->
<!--<jw-pagination [items]="manageorder" (changePage)="onChangePage($event)"></jw-pagination>-->
<!--    </div>-->
</div>


<!-- Modal HTML Markup for add order -->
<div id="Modaladdorderform" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Add Order</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <form role="form">
                   <div class="form-group">
                        <label class="control-label">Order Date</label>
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                            </div>
                            <input class="form-control datepicker" placeholder="Select date" name="dpdd" [(ngModel)]="model" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" type="text"/>
                          </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Bill To Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="bill to name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Message</label>
                        <div>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Grand Total</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="grand total" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-success">
                                Add Order
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Order details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Product Id</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Product Thumbnail</th>
                                <th scope="col">Price</th>
                                <th scope="col">QTY</th>
                                <th scope="col">Sub Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let orderDetail of orderDetails">
                                <th scope="row">
                                    {{orderDetail['product']['id']}}
                                </th>

                                <th scope="row">
                                    {{orderDetail['product']['name']}}
                                </th>

                                <th scope="row">
                                    <img class="product-image" [src]="orderDetail['product']['thumbnail']" alt="">
                                </th>

                                <td>
                                    {{orderDetail['price']}}
                                </td>
                                <td>
                                    {{orderDetail['qty']}}
                                </td>
                                <td>
                                    {{orderDetail['subTotal'] | currency:'LKR'}}
                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-4">

                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-template>


<ng-template #updateOrderStatusModel let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title1">Update Order Status</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">

                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-default" id="yearSelect"
                            ngbDropdownToggle>{{selectedOrderStatus}}
                        <i style="vertical-align: middle;" class="ni ni-bold-down"></i>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="yearSelect">
                        <button class="dropdown-item" ngbDropdownItem *ngFor="let orderST of orderStatus"
                                (click)="changeOrderStatus(orderST)">{{orderST}}</button>
                    </div>
                </div>

                <button class="btn btn-icon btn-3 btn-default" type="button" (click)="updateOrderStatus()">
                    <span class="btn-inner--text">Update</span>
                </button>

            </div>
            <div class="card-footer py-4">

            </div>

        </div>
    </div>

</ng-template>






    

