<div class="row class-body">
    <div class="col-6">
        <div class="row">
            <div class="col-md-12" style="text-align: center;padding-left: 0">
                <div class="input-group input-group-alternative mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                    </div>
                    <input #searchElement [(ngModel)]="searchWord" class="form-control form-control-alternative"
                           placeholder="Search any order"
                           type="text">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="margin: 2%;">
    <div class="col-12 product-table" style="padding-left: 0;padding-right: 0;">
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">OrderId</th>
                    <th scope="col">Message</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total</th>
                    <th scope="col">View Order Detail</th>
                    <th scope="col">Update Order Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let order of orders">
                    <th scope="row">
                        {{order['id']}}
                    </th>

                    <td>
                        {{order['message'] != null ? order['message'] : "No Message" }}
                    </td>

                    <td>
                        <div *ngIf="order['fkUser']!= null">{{order['fkUser']['firstName'] != null ? order['fkUser']['firstName'] : '' + ' ' + order['fkUser']['lastName'] != null ? order['fkUser']['lastName'] : ''}}</div>

                    </td>
                    <td>
                        <div *ngIf="order['fkUser']!=null"> {{order['fkUser']['email']}}</div>
                    </td>

                    <td>
                        {{order['status']}}
                    </td>
                    <td>
                        {{order['total'] | currency}}
                    </td>

                    <td>
                        <button type="button" class="btn btn-default" (click)="open(content,order['fkOrder'])">
                            View Order Details
                        </button>
                    </td>

                    <td>
                        <button type="button" class="btn btn-primary"
                                (click)="openChangeOrderStatusModel(updateOrderStatusModel,order)">
                            Update Order Status
                        </button>
                    </td>


                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Order details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Product Id</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Product Thumbnail</th>
                                <th scope="col">Price</th>
                                <th scope="col">QTY</th>
                                <th scope="col">Sub Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let orderDetail of orderDetails">
                                <th scope="row">
                                    {{orderDetail['product']['id']}}
                                </th>

                                <th scope="row">
                                    {{orderDetail['product']['name']}}
                                </th>

                                <th scope="row">
                                    <img class="product-image" [src]="orderDetail['product']['thumbnail']" alt="">
                                </th>

                                <td>
                                    {{orderDetail['price']}}
                                </td>
                                <td>
                                    {{orderDetail['qty']}}
                                </td>
                                <td>
                                    {{orderDetail['subTotal'] | currency}}
                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-4">

                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-template>


<ng-template #updateOrderStatusModel let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title1">Update Order Status</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">

                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-default" id="yearSelect"
                            ngbDropdownToggle>{{selectedOrderStatus}}
                        <i style="vertical-align: middle;" class="ni ni-bold-down"></i>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="yearSelect">
                        <button class="dropdown-item" ngbDropdownItem *ngFor="let orderST of orderStatus"
                                (click)="changeOrderStatus(orderST)">{{orderST}}</button>
                    </div>
                </div>

                <button class="btn btn-icon btn-3 btn-default" type="button" (click)="updateOrderStatus()">
                    <span class="btn-inner--text">Update</span>
                </button>

            </div>
            <div class="card-footer py-4">

            </div>

        </div>
    </div>

</ng-template>






    

