/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";

.modal-content{
  width: max-content!important;
  //min-width: 50vw;
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: max-content!important;
  }
}

.text-white{
  font-size: 35px!important;

  :hover{
    color: #1d1353!important;
  }
}

.footer{
  background: white!important;
}
