<div class="row class-body">
    <div class="col-12" style="margin-bottom: 10px">
        <alert></alert>
    </div>
    <div class="col-6">
        <form>
            <div class="row" style="padding-right: 0;padding-left: 0;">
                <div class="col-md-12" style="text-align: center;padding-left: 0;">
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                            </div>
                            <input class="form-control form-control-alternative" placeholder="Search Category By Name"
                                   type="text">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-6 add-button" >
        <button type="button" class="btn btn-primary align-button" data-toggle="modal" data-target="#ModalLoginForm">Add
            New Category
        </button>
    </div>
</div>
<div class="row"  style="margin: 2%;">
    <div class="col-12 product-table" style="padding-left: 0;padding-right: 0;">
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col" hidden>Password</th>
                    <th scope="col">Edit</th>

                    <!--                    <th scope="col">Edit</th>-->
                </tr>
                </thead>










                <tbody *ngFor="let categories of categoryList  | paginate: config">
                <tr>
                    <td>
                        <div class="media-body">
                            <span class="mb-0 text-sm">{{categories.id }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="media-body">
                            <span class="mb-0 text-sm">{{categories.firstName }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="media-body">
                            <span class="mb-0 text-sm">{{categories.lastName }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="media-body">
                            <span class="mb-0 text-sm">{{categories.email }}</span>
                        </div>
                    </td>
                    <td hidden>
                        <div class="media-body">
                            <span class="mb-0 text-sm">{{categories.password }}</span>
                        </div>
                    </td>
                    <td>
                        <button (click)="_getDeoDetailsToUpdate(categories.id,categories.firstName,categories.lastName,categories.email,categories.password)" type="button" class="btn btn-secondary" data-toggle="modal"
                                [attr.data-target]="'#ModalEditProduct'+ categories.firstName" >Edit
                        </button>
                    </td>
                </tr>
                <div id="ModalEditProduct{{categories.firstName}}" class="modal fade">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="min-width: 47vw;">
                            <div class="modal-header">
                                <h1 class="modal-title">Edit DEO</h1>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">















                                <form role="form">
                                    <div class="form-group">
                                        <label class="control-label">Id</label>
                                        <div>
                                            <input disabled type="text" class="form-control input-lg" name="deo_id"
                                                   [(ngModel)]="updateid" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">First Name</label>
                                        <div>
                                            <input type="text" class="form-control input-lg" name="update_first_name"
                                                   [(ngModel)]="updatefirstName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Last Name</label>
                                        <div>
                                            <input type="text" class="form-control input-lg" name="update_last_name"
                                                   [(ngModel)]="updatelastName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <div>
                                            <input disabled type="text" class="form-control input-lg" name="update_email"
                                                   [(ngModel)]="updateemail">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Password</label>
                                        <div>
                                            <input type="text" class="form-control input-lg" name="update_password"
                                                   [(ngModel)]="updatepassword">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="button-set">
                                            <button (click)="_updateDeo()" type="button" class="btn btn-primary">Update</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                </tbody>
<!--                <div class="products-pagination">-->
<!--                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>-->
<!--                    &lt;!&ndash;                    <pagination-controls (pageChange)="this.config.currentPage = $event"></pagination-controls>&ndash;&gt;-->
<!--                </div>-->

                <!-- Modal HTML Markup  for edit category-->
            </table>
        </div>
    </div>
    <!--    <div class="card-footer pb-0 pt-3">-->
    <!-- <jw-pagination [items]="category" (changePage)="onChangePage($event)"></jw-pagination>-->
    <!--    </div>-->

</div>


<!-- Modal HTML Markup -->
<div id="ModalLoginForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="min-width: 47vw;">
            <div class="modal-header">
                <h1 class="modal-title">Add Category</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">




                <form role="form">
                    <div class="form-group">
                        <label class="control-label">Category Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" [(ngModel)]="firstName" name="category_ame" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Category Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" [(ngModel)]="lastName" name="category_ame" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Category Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" [(ngModel)]="email" name="category_ame" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Category Name</label>
                        <div>
                            <input type="password" class="form-control input-lg" [(ngModel)]="password" name="category_ame" value="">
                        </div>
                    </div>


                    <div class="form-group">
                        <div>
                            <button type="button" (click)="_createOperator()" class="btn btn-success">
                                Add Category
                            </button>
                        </div>
                    </div>
                </form>









            </div>
        </div>
    </div>
</div>


















<!--<div class="header bg-color pb-8 pt-5 pt-md-8">-->
<!--    <div class="container-fluid">-->
<!--        <div class="container register-form">-->
<!--            <div class="form">-->
<!--                <div class="note">-->
<!--                    <p>Create Data Entry Operator Account</p>-->
<!--                </div>-->
<!--        -->
<!--                <div class="form-content"  style="background-color: #f6f5f5;">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-6">-->
<!--                            <div class="form-group">-->
<!--                                <input type="text" [(ngModel)]="firstName" class="form-control" name="firstName" placeholder="Firstname *" value=""/>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <input type="text" [(ngModel)]="lastName" class="form-control" name="lastName" placeholder="Lastname *" value=""/>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-6">-->
<!--                            <div class="form-group">-->
<!--                                <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="Email*" value=""/>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder=" Password*" value=""/>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                       -->
<!--                    </div>-->
<!--                    <button type="button" (click)="_createOperator()" class="btnSubmit">SUBMIT</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
